<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales department </title>
    <style>
        table,
        th,
        tr,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table>
        <h3>Sales dept employees Information</h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept</th>
        {% for sale_dept in sales_dept %}
        <tr>
            <td>{{sale_dept.empno}}</td>
            <td>{{sale_dept.ename}}</td>
            <td>{{sale_dept.job}}</td>
            <td>{{sale_dept.hiredate}}</td>
            <td>{{sale_dept.mgr}}</td>
            <td>{{sale_dept.sal}}</td>
            <td>{{sale_dept.comm}}</td>
            <td>{{sale_dept.dept}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3> A list of employee working on Sales department and their joining date is before 1 Nov 1981.</h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept</th>
        {% for emp_info_sale in emp_info_sale %}
        <tr>
            <td>{{emp_info_sale.empno}}</td>
            <td>{{emp_info_sale.ename}}</td>
            <td>{{emp_info_sale.job}}</td>
            <td>{{emp_info_sale.hiredate}}</td>
            <td>{{emp_info_sale.mgr}}</td>
            <td>{{emp_info_sale.sal}}</td>
            <td>{{emp_info_sale.comm}}</td>
            <td>{{emp_info_sale.dept}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>