<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employees highest earning </title>
    <style>
        table,
        th,
        tr,
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <h3>All employees Information</h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept</th>
        {% for dept_info in dept_info %}
        <tr>
            <td>{{dept_info.empno}}</td>
            <td>{{dept_info.ename}}</td>
            <td>{{dept_info.job}}</td>
            <td>{{dept_info.hiredate}}</td>
            <td>{{dept_info.mgr}}</td>
            <td>{{dept_info.sal}}</td>
            <td>{{dept_info.comm}}</td>
            <td>{{dept_info.dept}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3> All Dapartment employees with highestearning </h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept_id</th>
        <th>earning</th>
        {% for tes in total_earning_sal %}
        <tr>
            <td>{{tes.empno}}</td>
            <td>{{tes.ename}}</td>
            <td>{{tes.job}}</td>
            <td>{{tes.hiredate}}</td>
            <td>{{tes.mgr}}</td>
            <td>{{tes.sal}}</td>
            <td>{{tes.comm}}</td>
            <td>{{tes.dept_id}}</td>
            <td>{{tes.earning}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>A list of highest earning employees in their respective department.</h3>
    <table>
        <h3>Accounting employees with highestearning </h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept_id</th>
        <th>earning</th>
        {% for dept_account_earn in dept_account_earn %}
        <tr>
            <td>{{dept_account_earn.empno}}</td>
            <td>{{dept_account_earn.ename}}</td>
            <td>{{dept_account_earn.job}}</td>
            <td>{{dept_account_earn.hiredate}}</td>
            <td>{{dept_account_earn.mgr}}</td>
            <td>{{dept_account_earn.sal}}</td>
            <td>{{dept_account_earn.comm}}</td>
            <td>{{dept_account_earn.dept_id}}</td>
            <td>{{dept_account_earn.earning}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3>Resarch employees with highestearning </h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept_id</th>
        <th>earning</th>
        {% for dept_resarch_earn in dept_resarch_earn %}
        <tr>
            <td>{{dept_resarch_earn.empno}}</td>
            <td>{{dept_resarch_earn.ename}}</td>
            <td>{{dept_resarch_earn.job}}</td>
            <td>{{dept_resarch_earn.hiredate}}</td>
            <td>{{dept_resarch_earn.mgr}}</td>
            <td>{{dept_resarch_earn.sal}}</td>
            <td>{{dept_resarch_earn.comm}}</td>
            <td>{{dept_resarch_earn.dept_id}}</td>
            <td>{{dept_resarch_earn.earning}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3>Sales employees with highestearning </h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept_id</th>
        <th>earning</th>
        {% for dept_sales_earn in dept_sales_earn %}
        <tr>
            <td>{{dept_sales_earn.empno}}</td>
            <td>{{dept_sales_earn.ename}}</td>
            <td>{{dept_sales_earn.job}}</td>
            <td>{{dept_sales_earn.hiredate}}</td>
            <td>{{dept_sales_earn.mgr}}</td>
            <td>{{dept_sales_earn.sal}}</td>
            <td>{{dept_sales_earn.comm}}</td>
            <td>{{dept_sales_earn.dept_id}}</td>
            <td>{{dept_sales_earn.earning}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3>Operations employees with highestearning </h3>
        <th>empno</th>
        <th>ename</th>
        <th>job</th>
        <th>hiredate</th>
        <th>mgr</th>
        <th>sal</th>
        <th>comm</th>
        <th>dept_id</th>
        <th>earning</th>
        {% for dept_operation_earn in dept_operation_earn %}
        <tr>
            <td>{{dept_operation_earn.empno}}</td>
            <td>{{dept_operation_earn.ename}}</td>
            <td>{{dept_operation_earn.job}}</td>
            <td>{{dept_operation_earn.hiredate}}</td>
            <td>{{dept_operation_earn.mgr}}</td>
            <td>{{dept_operation_earn.sal}}</td>
            <td>{{dept_operation_earn.comm}}</td>
            <td>{{dept_operation_earn.dept_id}}</td>
            <td>{{dept_operation_earn.earning}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>