<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employess above avg sal </title>
    <style>
        table ,th,tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
<h3>All employees Information</h3>
<th>empno</th>
<th>ename</th>
<th>job</th>
<th>hiredate</th>
<th>mgr</th>
<th>sal</th>
<th>comm</th>
<th>dept</th>
{% for emp_info_all in emp_info_all %}
 <tr>
  <td>{{emp_info_all.empno}}</td>
  <td>{{emp_info_all.ename}}</td>
  <td>{{emp_info_all.job}}</td>
  <td>{{emp_info_all.hiredate}}</td>
  <td>{{emp_info_all.mgr}}</td>
  <td>{{emp_info_all.sal}}</td>
  <td>{{emp_info_all.comm}}</td>
  <td>{{emp_info_all.dept}}</td>
 </tr>
{% endfor %}
</table>
<table>
<h3>The list of managers and salesman, whose salary is more than the avg salary of whole company.</h3>
<th>empno</th>
<th>ename</th>
<th>job</th>
<th>hiredate</th>
<th>mgr</th>
<th>sal</th>
<th>comm</th>
<th>dept</th>
{% for sd in sales_data %}
 <tr>
    <td>{{sd.empno}}</td>
    <td>{{sd.ename}}</td>
    <td>{{sd.job}}</td>
    <td>{{sd.hiredate}}</td>
    <td>{{sd.mgr}}</td>
    <td>{{sd.sal}}</td>
    <td>{{sd.comm}}</td>
    <td>{{sd.dept}}</td>
</tr>
 {% endfor %}
</table>
<hr>
<h3>The avg salary of whole company {{whole_company_sal_avg}}</h3>
<hr>
</body>
</html>